@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #ffbd4a !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #c0a375 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #ffbd4a;
  border-color: #ffbd4a;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #fda000;
  border-color: #fda000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #fda000 !important;
  border-color: #fda000 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #e39000;
  color: #e39000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffbd4a;
  border-color: #ffbd4a;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbd4a !important;
  border-color: #ffbd4a !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #ffbd4a !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #c0a375 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #c0a375;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #ffbd4a;
}
.btn-social:hover {
  background: #ffbd4a;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ffbd4a;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ffbd4a;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffbd4a;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffbd4a;
}
.lead a,
.lead a:hover {
  color: #ffbd4a;
}
.lead blockquote {
  border-color: #ffbd4a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ffbd4a;
}
.scrollToTop_wraper {
  display: none;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.8rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #ffbd4a!important;
}
#header1-1 .mbr-section-title {
  font-size: 72px;
}
#header1-1 .btn {
  font-size: 15px;
}
#header3-17 .mbr-section-title,
#header3-17 .mbr-section-subtitle {
  text-align: center;
}
#header3-1a .mbr-section-title,
#header3-1a .mbr-section-subtitle {
  text-align: center;
}
#features7-15 .card-subtitle {
  color: #bcbcbc;
}
#features7-15 .iconbox {
  background-color: #ffbd4a;
  border-color: #ffbd4a;
}
#features4-14 .card-subtitle {
  color: #bcbcbc;
}
#features4-14 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#form1-c .form-control-label {
  color: #232323;
}

#ext_menu-1n .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1n .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-1n .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1n .close-icon::before,
#ext_menu-1n .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1n .link,
#ext_menu-1n .dropdown-item {
  color: #ffffff;
}
#ext_menu-1n .link {
  font-size: 0.8rem;
}
#ext_menu-1n .dropdown-item,
#ext_menu-1n .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1n .link:hover,
#ext_menu-1n .dropdown-item:hover,
#ext_menu-1n .link:focus,
#ext_menu-1n .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-1n .link[aria-expanded="true"],
#ext_menu-1n .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1n .nav-dropdown-sm .link:focus,
#ext_menu-1n .nav-dropdown-sm .link:hover,
#ext_menu-1n .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1n .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1n .navbar,
#ext_menu-1n .nav-dropdown-sm,
#ext_menu-1n .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1n .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1n .bg-color.transparent.opened .link:hover,
#ext_menu-1n .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-1n .link[aria-expanded="true"],
#ext_menu-1n .dropdown-item[aria-expanded="true"] {
  color: #ffbd4a!important;
}
#msg-box3-24 .mbr-section-title,
#msg-box3-24 p {
  color: #000;
}
#msg-box3-24 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-25 H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-25 P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-26 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-26 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-26 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-26 .close-icon::before,
#ext_menu-26 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-26 .link,
#ext_menu-26 .dropdown-item {
  color: #ffffff;
}
#ext_menu-26 .link {
  font-size: 0.9rem;
}
#ext_menu-26 .dropdown-item,
#ext_menu-26 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-26 .link:hover,
#ext_menu-26 .dropdown-item:hover,
#ext_menu-26 .link:focus,
#ext_menu-26 .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-26 .link[aria-expanded="true"],
#ext_menu-26 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-26 .nav-dropdown-sm .link:focus,
#ext_menu-26 .nav-dropdown-sm .link:hover,
#ext_menu-26 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-26 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-26 .navbar,
#ext_menu-26 .nav-dropdown-sm,
#ext_menu-26 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-26 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-26 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-26 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-26 .bg-color.transparent.opened .link:hover,
#ext_menu-26 .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-26 .link[aria-expanded="true"],
#ext_menu-26 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-28 .mbr-section-title,
#msg-box3-28 p {
  color: #000;
}
#msg-box3-28 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-2a H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-2a P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-2c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2c .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-2c .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2c .close-icon::before,
#ext_menu-2c .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2c .link,
#ext_menu-2c .dropdown-item {
  color: #ffffff;
}
#ext_menu-2c .link {
  font-size: 0.9rem;
}
#ext_menu-2c .dropdown-item,
#ext_menu-2c .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-2c .link:hover,
#ext_menu-2c .dropdown-item:hover,
#ext_menu-2c .link:focus,
#ext_menu-2c .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-2c .link[aria-expanded="true"],
#ext_menu-2c .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2c .nav-dropdown-sm .link:focus,
#ext_menu-2c .nav-dropdown-sm .link:hover,
#ext_menu-2c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2c .navbar,
#ext_menu-2c .nav-dropdown-sm,
#ext_menu-2c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2c .bg-color.transparent.opened .link:hover,
#ext_menu-2c .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-2c .link[aria-expanded="true"],
#ext_menu-2c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-2e .mbr-section-title,
#msg-box3-2e p {
  color: #000;
}
#msg-box3-2e .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-2g H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-2g P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-2i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2i .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-2i .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2i .close-icon::before,
#ext_menu-2i .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2i .link,
#ext_menu-2i .dropdown-item {
  color: #ffffff;
}
#ext_menu-2i .link {
  font-size: 0.9rem;
}
#ext_menu-2i .dropdown-item,
#ext_menu-2i .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-2i .link:hover,
#ext_menu-2i .dropdown-item:hover,
#ext_menu-2i .link:focus,
#ext_menu-2i .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2i .nav-dropdown-sm .link:focus,
#ext_menu-2i .nav-dropdown-sm .link:hover,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2i .navbar,
#ext_menu-2i .nav-dropdown-sm,
#ext_menu-2i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2i .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2i .bg-color.transparent.opened .link:hover,
#ext_menu-2i .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-2k .mbr-section-title,
#msg-box3-2k p {
  color: #000;
}
#msg-box3-2k .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-2m H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-2m P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-2o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2o .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-2o .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2o .close-icon::before,
#ext_menu-2o .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2o .link,
#ext_menu-2o .dropdown-item {
  color: #ffffff;
}
#ext_menu-2o .link {
  font-size: 1rem;
}
#ext_menu-2o .dropdown-item,
#ext_menu-2o .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-2o .link:hover,
#ext_menu-2o .dropdown-item:hover,
#ext_menu-2o .link:focus,
#ext_menu-2o .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-2o .link[aria-expanded="true"],
#ext_menu-2o .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2o .nav-dropdown-sm .link:focus,
#ext_menu-2o .nav-dropdown-sm .link:hover,
#ext_menu-2o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2o .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2o .navbar,
#ext_menu-2o .nav-dropdown-sm,
#ext_menu-2o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2o .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2o .bg-color.transparent.opened .link:hover,
#ext_menu-2o .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-2o .link[aria-expanded="true"],
#ext_menu-2o .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-2q .mbr-section-title,
#msg-box3-2q p {
  color: #000;
}
#msg-box3-2q .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-2r H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-2r P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-2t .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2t .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-2t .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2t .close-icon::before,
#ext_menu-2t .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2t .link,
#ext_menu-2t .dropdown-item {
  color: #ffffff;
}
#ext_menu-2t .link {
  font-size: 0.9rem;
}
#ext_menu-2t .dropdown-item,
#ext_menu-2t .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-2t .link:hover,
#ext_menu-2t .dropdown-item:hover,
#ext_menu-2t .link:focus,
#ext_menu-2t .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-2t .link[aria-expanded="true"],
#ext_menu-2t .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2t .nav-dropdown-sm .link:focus,
#ext_menu-2t .nav-dropdown-sm .link:hover,
#ext_menu-2t .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2t .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2t .navbar,
#ext_menu-2t .nav-dropdown-sm,
#ext_menu-2t .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2t .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2t .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2t .bg-color.transparent.opened .link:hover,
#ext_menu-2t .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-2t .link[aria-expanded="true"],
#ext_menu-2t .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-2v .mbr-section-title,
#msg-box3-2v p {
  color: #000;
}
#msg-box3-2v .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-2w H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-2w P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-2y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2y .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-2y .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2y .close-icon::before,
#ext_menu-2y .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2y .link,
#ext_menu-2y .dropdown-item {
  color: #ffffff;
}
#ext_menu-2y .link {
  font-size: 0.9rem;
}
#ext_menu-2y .dropdown-item,
#ext_menu-2y .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-2y .link:hover,
#ext_menu-2y .dropdown-item:hover,
#ext_menu-2y .link:focus,
#ext_menu-2y .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-2y .link[aria-expanded="true"],
#ext_menu-2y .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2y .nav-dropdown-sm .link:focus,
#ext_menu-2y .nav-dropdown-sm .link:hover,
#ext_menu-2y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2y .navbar,
#ext_menu-2y .nav-dropdown-sm,
#ext_menu-2y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2y .bg-color.transparent.opened .link:hover,
#ext_menu-2y .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-2y .link[aria-expanded="true"],
#ext_menu-2y .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-30 .mbr-section-title,
#msg-box3-30 p {
  color: #000;
}
#msg-box3-30 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-31 H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-31 P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-33 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-33 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-33 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-33 .close-icon::before,
#ext_menu-33 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-33 .link,
#ext_menu-33 .dropdown-item {
  color: #ffffff;
}
#ext_menu-33 .link {
  font-size: 0.8rem;
}
#ext_menu-33 .dropdown-item,
#ext_menu-33 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-33 .link:hover,
#ext_menu-33 .dropdown-item:hover,
#ext_menu-33 .link:focus,
#ext_menu-33 .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-33 .link[aria-expanded="true"],
#ext_menu-33 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-33 .nav-dropdown-sm .link:focus,
#ext_menu-33 .nav-dropdown-sm .link:hover,
#ext_menu-33 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-33 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-33 .navbar,
#ext_menu-33 .nav-dropdown-sm,
#ext_menu-33 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-33 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-33 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-33 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-33 .bg-color.transparent.opened .link:hover,
#ext_menu-33 .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-33 .link[aria-expanded="true"],
#ext_menu-33 .dropdown-item[aria-expanded="true"] {
  color: #ffbd4a!important;
}
#msg-box3-35 .mbr-section-title,
#msg-box3-35 p {
  color: #000;
}
#msg-box3-35 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-36 H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-36 P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-38 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-38 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-38 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-38 .close-icon::before,
#ext_menu-38 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-38 .link,
#ext_menu-38 .dropdown-item {
  color: #ffffff;
}
#ext_menu-38 .link {
  font-size: 0.8rem;
}
#ext_menu-38 .dropdown-item,
#ext_menu-38 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-38 .link:hover,
#ext_menu-38 .dropdown-item:hover,
#ext_menu-38 .link:focus,
#ext_menu-38 .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-38 .link[aria-expanded="true"],
#ext_menu-38 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-38 .nav-dropdown-sm .link:focus,
#ext_menu-38 .nav-dropdown-sm .link:hover,
#ext_menu-38 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-38 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-38 .navbar,
#ext_menu-38 .nav-dropdown-sm,
#ext_menu-38 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-38 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-38 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-38 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-38 .bg-color.transparent.opened .link:hover,
#ext_menu-38 .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-38 .link[aria-expanded="true"],
#ext_menu-38 .dropdown-item[aria-expanded="true"] {
  color: #ffbd4a!important;
}
#msg-box3-3a .mbr-section-title,
#msg-box3-3a p {
  color: #000;
}
#msg-box3-3a .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-3b H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-3b P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-3g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3g .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-3g .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3g .close-icon::before,
#ext_menu-3g .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3g .link,
#ext_menu-3g .dropdown-item {
  color: #ffffff;
}
#ext_menu-3g .link {
  font-size: 0.9rem;
}
#ext_menu-3g .dropdown-item,
#ext_menu-3g .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-3g .link:hover,
#ext_menu-3g .dropdown-item:hover,
#ext_menu-3g .link:focus,
#ext_menu-3g .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-3g .link[aria-expanded="true"],
#ext_menu-3g .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-3g .nav-dropdown-sm .link:focus,
#ext_menu-3g .nav-dropdown-sm .link:hover,
#ext_menu-3g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-3g .navbar,
#ext_menu-3g .nav-dropdown-sm,
#ext_menu-3g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-3g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3g .bg-color.transparent.opened .link:hover,
#ext_menu-3g .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-3g .link[aria-expanded="true"],
#ext_menu-3g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-3i .mbr-section-title,
#msg-box3-3i p {
  color: #000;
}
#msg-box3-3i .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-3j H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-3j P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-3n .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3n .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-3n .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3n .close-icon::before,
#ext_menu-3n .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3n .link,
#ext_menu-3n .dropdown-item {
  color: #ffffff;
}
#ext_menu-3n .link {
  font-size: 0.9rem;
}
#ext_menu-3n .dropdown-item,
#ext_menu-3n .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-3n .link:hover,
#ext_menu-3n .dropdown-item:hover,
#ext_menu-3n .link:focus,
#ext_menu-3n .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-3n .link[aria-expanded="true"],
#ext_menu-3n .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-3n .nav-dropdown-sm .link:focus,
#ext_menu-3n .nav-dropdown-sm .link:hover,
#ext_menu-3n .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3n .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-3n .navbar,
#ext_menu-3n .nav-dropdown-sm,
#ext_menu-3n .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3n .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-3n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3n .bg-color.transparent.opened .link:hover,
#ext_menu-3n .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-3n .link[aria-expanded="true"],
#ext_menu-3n .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-3p .mbr-section-title,
#msg-box3-3p p {
  color: #000;
}
#msg-box3-3p .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-3q H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-3q P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-40 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-40 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-40 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-40 .close-icon::before,
#ext_menu-40 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-40 .link,
#ext_menu-40 .dropdown-item {
  color: #ffffff;
}
#ext_menu-40 .link {
  font-size: 0.9rem;
}
#ext_menu-40 .dropdown-item,
#ext_menu-40 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-40 .link:hover,
#ext_menu-40 .dropdown-item:hover,
#ext_menu-40 .link:focus,
#ext_menu-40 .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-40 .link[aria-expanded="true"],
#ext_menu-40 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-40 .nav-dropdown-sm .link:focus,
#ext_menu-40 .nav-dropdown-sm .link:hover,
#ext_menu-40 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-40 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-40 .navbar,
#ext_menu-40 .nav-dropdown-sm,
#ext_menu-40 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-40 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-40 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-40 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-40 .bg-color.transparent.opened .link:hover,
#ext_menu-40 .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-40 .link[aria-expanded="true"],
#ext_menu-40 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-42 .mbr-section-title,
#msg-box3-42 p {
  color: #000;
}
#msg-box3-42 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-43 H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-43 P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-3t .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3t .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-3t .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3t .close-icon::before,
#ext_menu-3t .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3t .link,
#ext_menu-3t .dropdown-item {
  color: #ffffff;
}
#ext_menu-3t .link {
  font-size: 0.9rem;
}
#ext_menu-3t .dropdown-item,
#ext_menu-3t .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-3t .link:hover,
#ext_menu-3t .dropdown-item:hover,
#ext_menu-3t .link:focus,
#ext_menu-3t .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-3t .link[aria-expanded="true"],
#ext_menu-3t .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-3t .nav-dropdown-sm .link:focus,
#ext_menu-3t .nav-dropdown-sm .link:hover,
#ext_menu-3t .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3t .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-3t .navbar,
#ext_menu-3t .nav-dropdown-sm,
#ext_menu-3t .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3t .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-3t .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3t .bg-color.transparent.opened .link:hover,
#ext_menu-3t .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-3t .link[aria-expanded="true"],
#ext_menu-3t .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-3v .mbr-section-title,
#msg-box3-3v p {
  color: #000;
}
#msg-box3-3v .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-3w H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-3w P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-4k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4k .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-4k .navbar-toggler {
  color: #ffffff;
}
#ext_menu-4k .close-icon::before,
#ext_menu-4k .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-4k .link,
#ext_menu-4k .dropdown-item {
  color: #ffffff;
}
#ext_menu-4k .link {
  font-size: 0.9rem;
}
#ext_menu-4k .dropdown-item,
#ext_menu-4k .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-4k .link:hover,
#ext_menu-4k .dropdown-item:hover,
#ext_menu-4k .link:focus,
#ext_menu-4k .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-4k .link[aria-expanded="true"],
#ext_menu-4k .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-4k .nav-dropdown-sm .link:focus,
#ext_menu-4k .nav-dropdown-sm .link:hover,
#ext_menu-4k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-4k .navbar,
#ext_menu-4k .nav-dropdown-sm,
#ext_menu-4k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-4k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-4k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4k .bg-color.transparent.opened .link:hover,
#ext_menu-4k .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-4k .link[aria-expanded="true"],
#ext_menu-4k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-4m .mbr-section-title,
#msg-box3-4m p {
  color: #000;
}
#msg-box3-4m .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-4n H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-4n P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4r .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-4r .navbar-toggler {
  color: #ffffff;
}
#ext_menu-4r .close-icon::before,
#ext_menu-4r .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-4r .link,
#ext_menu-4r .dropdown-item {
  color: #ffffff;
}
#ext_menu-4r .link {
  font-size: 0.9rem;
}
#ext_menu-4r .dropdown-item,
#ext_menu-4r .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-4r .link:hover,
#ext_menu-4r .dropdown-item:hover,
#ext_menu-4r .link:focus,
#ext_menu-4r .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-4r .link[aria-expanded="true"],
#ext_menu-4r .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-4r .nav-dropdown-sm .link:focus,
#ext_menu-4r .nav-dropdown-sm .link:hover,
#ext_menu-4r .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-4r .navbar,
#ext_menu-4r .nav-dropdown-sm,
#ext_menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-4r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4r .bg-color.transparent.opened .link:hover,
#ext_menu-4r .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-4r .link[aria-expanded="true"],
#ext_menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-4t .mbr-section-title,
#msg-box3-4t p {
  color: #000;
}
#msg-box3-4t .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-4u H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-4u P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-50 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-50 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-50 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-50 .close-icon::before,
#ext_menu-50 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-50 .link,
#ext_menu-50 .dropdown-item {
  color: #ffffff;
}
#ext_menu-50 .link {
  font-size: 0.9rem;
}
#ext_menu-50 .dropdown-item,
#ext_menu-50 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-50 .link:hover,
#ext_menu-50 .dropdown-item:hover,
#ext_menu-50 .link:focus,
#ext_menu-50 .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-50 .link[aria-expanded="true"],
#ext_menu-50 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-50 .nav-dropdown-sm .link:focus,
#ext_menu-50 .nav-dropdown-sm .link:hover,
#ext_menu-50 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-50 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-50 .navbar,
#ext_menu-50 .nav-dropdown-sm,
#ext_menu-50 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-50 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-50 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-50 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-50 .bg-color.transparent.opened .link:hover,
#ext_menu-50 .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-50 .link[aria-expanded="true"],
#ext_menu-50 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-52 .mbr-section-title,
#msg-box3-52 p {
  color: #000;
}
#msg-box3-52 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-53 H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-53 P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-59 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-59 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-59 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-59 .close-icon::before,
#ext_menu-59 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-59 .link,
#ext_menu-59 .dropdown-item {
  color: #ffffff;
}
#ext_menu-59 .link {
  font-size: 0.9rem;
}
#ext_menu-59 .dropdown-item,
#ext_menu-59 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-59 .link:hover,
#ext_menu-59 .dropdown-item:hover,
#ext_menu-59 .link:focus,
#ext_menu-59 .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-59 .link[aria-expanded="true"],
#ext_menu-59 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-59 .nav-dropdown-sm .link:focus,
#ext_menu-59 .nav-dropdown-sm .link:hover,
#ext_menu-59 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-59 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-59 .navbar,
#ext_menu-59 .nav-dropdown-sm,
#ext_menu-59 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-59 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-59 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-59 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-59 .bg-color.transparent.opened .link:hover,
#ext_menu-59 .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-59 .link[aria-expanded="true"],
#ext_menu-59 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-5b .mbr-section-title,
#msg-box3-5b p {
  color: #000;
}
#msg-box3-5b .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-5c H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-5c P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-5h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5h .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-5h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-5h .close-icon::before,
#ext_menu-5h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-5h .link,
#ext_menu-5h .dropdown-item {
  color: #ffffff;
}
#ext_menu-5h .link {
  font-size: 0.9rem;
}
#ext_menu-5h .dropdown-item,
#ext_menu-5h .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-5h .link:hover,
#ext_menu-5h .dropdown-item:hover,
#ext_menu-5h .link:focus,
#ext_menu-5h .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-5h .link[aria-expanded="true"],
#ext_menu-5h .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-5h .nav-dropdown-sm .link:focus,
#ext_menu-5h .nav-dropdown-sm .link:hover,
#ext_menu-5h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5h .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-5h .navbar,
#ext_menu-5h .nav-dropdown-sm,
#ext_menu-5h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5h .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-5h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-5h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5h .bg-color.transparent.opened .link:hover,
#ext_menu-5h .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-5h .link[aria-expanded="true"],
#ext_menu-5h .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-5j .mbr-section-title,
#msg-box3-5j p {
  color: #000;
}
#msg-box3-5j .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-5k H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-5k P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-5o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5o .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-5o .navbar-toggler {
  color: #ffffff;
}
#ext_menu-5o .close-icon::before,
#ext_menu-5o .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-5o .link,
#ext_menu-5o .dropdown-item {
  color: #ffffff;
}
#ext_menu-5o .link {
  font-size: 0.9rem;
}
#ext_menu-5o .dropdown-item,
#ext_menu-5o .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-5o .link:hover,
#ext_menu-5o .dropdown-item:hover,
#ext_menu-5o .link:focus,
#ext_menu-5o .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-5o .link[aria-expanded="true"],
#ext_menu-5o .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-5o .nav-dropdown-sm .link:focus,
#ext_menu-5o .nav-dropdown-sm .link:hover,
#ext_menu-5o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5o .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-5o .navbar,
#ext_menu-5o .nav-dropdown-sm,
#ext_menu-5o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5o .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-5o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-5o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5o .bg-color.transparent.opened .link:hover,
#ext_menu-5o .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-5o .link[aria-expanded="true"],
#ext_menu-5o .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-5q .mbr-section-title,
#msg-box3-5q p {
  color: #000;
}
#msg-box3-5q .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-5r H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-5r P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-5v .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5v .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-5v .navbar-toggler {
  color: #ffffff;
}
#ext_menu-5v .close-icon::before,
#ext_menu-5v .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-5v .link,
#ext_menu-5v .dropdown-item {
  color: #ffffff;
}
#ext_menu-5v .link {
  font-size: 0.9rem;
}
#ext_menu-5v .dropdown-item,
#ext_menu-5v .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-5v .link:hover,
#ext_menu-5v .dropdown-item:hover,
#ext_menu-5v .link:focus,
#ext_menu-5v .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-5v .link[aria-expanded="true"],
#ext_menu-5v .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-5v .nav-dropdown-sm .link:focus,
#ext_menu-5v .nav-dropdown-sm .link:hover,
#ext_menu-5v .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-5v .navbar,
#ext_menu-5v .nav-dropdown-sm,
#ext_menu-5v .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-5v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-5v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5v .bg-color.transparent.opened .link:hover,
#ext_menu-5v .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-5v .link[aria-expanded="true"],
#ext_menu-5v .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-5x .mbr-section-title,
#msg-box3-5x p {
  color: #000;
}
#msg-box3-5x .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-5y H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-5y P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-62 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-62 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-62 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-62 .close-icon::before,
#ext_menu-62 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-62 .link,
#ext_menu-62 .dropdown-item {
  color: #ffffff;
}
#ext_menu-62 .link {
  font-size: 0.9rem;
}
#ext_menu-62 .dropdown-item,
#ext_menu-62 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-62 .link:hover,
#ext_menu-62 .dropdown-item:hover,
#ext_menu-62 .link:focus,
#ext_menu-62 .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-62 .link[aria-expanded="true"],
#ext_menu-62 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-62 .nav-dropdown-sm .link:focus,
#ext_menu-62 .nav-dropdown-sm .link:hover,
#ext_menu-62 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-62 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-62 .navbar,
#ext_menu-62 .nav-dropdown-sm,
#ext_menu-62 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-62 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-62 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-62 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-62 .bg-color.transparent.opened .link:hover,
#ext_menu-62 .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-62 .link[aria-expanded="true"],
#ext_menu-62 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-64 .mbr-section-title,
#msg-box3-64 p {
  color: #000;
}
#msg-box3-64 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-65 H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-65 P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-69 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-69 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-69 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-69 .close-icon::before,
#ext_menu-69 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-69 .link,
#ext_menu-69 .dropdown-item {
  color: #ffffff;
}
#ext_menu-69 .link {
  font-size: 0.9rem;
}
#ext_menu-69 .dropdown-item,
#ext_menu-69 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-69 .link:hover,
#ext_menu-69 .dropdown-item:hover,
#ext_menu-69 .link:focus,
#ext_menu-69 .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-69 .link[aria-expanded="true"],
#ext_menu-69 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-69 .nav-dropdown-sm .link:focus,
#ext_menu-69 .nav-dropdown-sm .link:hover,
#ext_menu-69 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-69 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-69 .navbar,
#ext_menu-69 .nav-dropdown-sm,
#ext_menu-69 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-69 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-69 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-69 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-69 .bg-color.transparent.opened .link:hover,
#ext_menu-69 .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-69 .link[aria-expanded="true"],
#ext_menu-69 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-6b .mbr-section-title,
#msg-box3-6b p {
  color: #000;
}
#msg-box3-6b .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-6c H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-6c P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-6g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6g .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-6g .navbar-toggler {
  color: #ffffff;
}
#ext_menu-6g .close-icon::before,
#ext_menu-6g .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-6g .link,
#ext_menu-6g .dropdown-item {
  color: #ffffff;
}
#ext_menu-6g .link {
  font-size: 0.9rem;
}
#ext_menu-6g .dropdown-item,
#ext_menu-6g .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-6g .link:hover,
#ext_menu-6g .dropdown-item:hover,
#ext_menu-6g .link:focus,
#ext_menu-6g .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-6g .link[aria-expanded="true"],
#ext_menu-6g .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-6g .nav-dropdown-sm .link:focus,
#ext_menu-6g .nav-dropdown-sm .link:hover,
#ext_menu-6g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-6g .navbar,
#ext_menu-6g .nav-dropdown-sm,
#ext_menu-6g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-6g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-6g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6g .bg-color.transparent.opened .link:hover,
#ext_menu-6g .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-6g .link[aria-expanded="true"],
#ext_menu-6g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-6i .mbr-section-title,
#msg-box3-6i p {
  color: #000;
}
#msg-box3-6i .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-6j H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-6j P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

#ext_menu-6o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6o .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#ext_menu-6o .navbar-toggler {
  color: #ffffff;
}
#ext_menu-6o .close-icon::before,
#ext_menu-6o .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-6o .link,
#ext_menu-6o .dropdown-item {
  color: #ffffff;
}
#ext_menu-6o .link {
  font-size: 0.9rem;
}
#ext_menu-6o .dropdown-item,
#ext_menu-6o .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-6o .link:hover,
#ext_menu-6o .dropdown-item:hover,
#ext_menu-6o .link:focus,
#ext_menu-6o .dropdown-item:focus {
  color: #ffbd4a;
}
#ext_menu-6o .link[aria-expanded="true"],
#ext_menu-6o .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-6o .nav-dropdown-sm .link:focus,
#ext_menu-6o .nav-dropdown-sm .link:hover,
#ext_menu-6o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6o .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-6o .navbar,
#ext_menu-6o .nav-dropdown-sm,
#ext_menu-6o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6o .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-6o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-6o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6o .bg-color.transparent.opened .link:hover,
#ext_menu-6o .bg-color.transparent.opened .link:focus {
  color: #ffbd4a;
}
#ext_menu-6o .link[aria-expanded="true"],
#ext_menu-6o .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box3-6q .mbr-section-title,
#msg-box3-6q p {
  color: #000;
}
#msg-box3-6q .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-6r H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-6r P {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}
